.text-body h3 {
    color: #086D44;
    font-size: 250%;
    text-align: center;
    padding-bottom: 10px;
}

.text-body p {
    font-size: 125%;
    text-align: center;
}

.col-md-4 {
    text-align: center;
}

.president img {
    height: 350px;
    width: auto;
}

.officer img {
    height: 250px;
    width: auto;
}

