/*
.top-bar {
    background-color: #086D44;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bottom-bar {
    background-color: #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.start_time {
    color: #FFF;
}

.name {
    color: #FFF;
}
*/

.events-list p {
    font-size: 180%;
    text-align: center;
}

.events-list li {
    font-size: 140%;
    text-align: center;
    list-style-position: inside;
}


