.event {
    background-color: #ccc;
    border-radius: 10px;
    margin: 40px 0px;
}

.top-bar {
    background-color: #086D44;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    font-size: 16pt;
}

.bottom-bar {
    overflow: hidden;
}

.top-bar h3 {
    display: inline;
    color: #FFF;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.event-name {
    float: left;
    text-align: left;
    padding-left: 10px;
}

.start-time {
    float: right;
    text-align: right;
    padding-right: 10px;
}

.description {
    padding: 10px 10px 0px;
    font-size: 14pt;
}

.bottom-bar button {
    float: right;
    margin: 0px 10px 10px;
    border-radius: 5px;
    background-color: #FFF;
    font-size: 12pt;
}

